<%= form_with(model: [special, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
        <%= form.label :あなたのコメントを書きましょう %>
    　　<%= form.text_area :content, size: "110x3" %>
  </div>
  <div class="actions">
    　　<%= form.submit value="コメントを登録する" %>
  </div>
<% end %>
