<%= form_with(model: @special, local: true, url: choose_new_or_edit) do |form| %>
  <% if @special.errors.any? %>
    <div id="error_explanation">
      <h2><%= @special.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @special.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="special_title">
    <%= form.label :"優待製品名" %>
    <%= form.text_field :product %>
  </div>
  <div class="special_title">
    <%= form.label :"会社名" %>
    <%= form.text_field :company %>
  </div>
  <div class="special_title">
    <%= form.label :"優待製品写真" %>
    <%= form.file_field :image %>
  </div>
  <div class="special_title">
    <%= form.label :"優待解説" %>
    <%= form.text_area :detail, :size=>"100x5" %>
  </div>
  <div class="special_title">
    <%= form.label :PER %>
    <%= form.text_field :per %>
  </div>
  <div class="special_title">
    <%= form.label :"割安状況" %>
    <%= form.select :status, [["割安", "割安"], ["並", "並"], ["割高", "割高"]], include_blank: "選択して下さい" %>
  </div>
  <div class="special_title">
    <%= form.label :"100株の取得価格" %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :category, 'カテゴリ' %>
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    <% end %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "優待記事一覧画面にもどる", specials_path %>
