<div class="container">
  <div id="contents" class="col-sm-9 col-xs-9 col-md-9 col-lg-9" style="background: #FFFFFF;">
    <h3>以下の内容で、送信する。</h3>

    <%= form_with(model: @special, url: specials_path, local: true) do |form| %>
      <%= form.hidden_field :product %>
      <%= form.hidden_field :company %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :detail %>
      <%= form.hidden_field :per %>
      <%= form.hidden_field :status %>
      <%= form.hidden_field :price %>

      <p>優待製品名：<%= @special.product %></p>
      <p>会社名：<%= @special.company %></p>
      <p>写真：<%= image_tag(@special.image.url) if @special.image && @special.image.url %></p>
      <p>優待解説：<%= @special.detail %></p>
      <p>PER：<%= @special.per %></p>
      <p>割安状況：<%= @special.status %></p>
      <p>100株の取得価格：<%= @special.price %></p>

      <%= form.submit "登録する" %>
      <%= form.submit "戻る", name: 'back' %>
      <% end %>
    </div>
</div>
