<h1>優待一覧</h1>
<!-- サイドバー -->
<div class="row">
  <div id="sidebar" class="col-sm-4 col-xs-4" style="background: #eeeeee;">
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
  </div>

  <!-- コンテンツ -->
  <div id="contents" class="col-sm-8 col-xs-8" style="background: #eeeeee;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">優待製品名</th>
          <th scope="col">会社名</th>
          <th scope="col">写真</th>
          <th scope="col">100株の取得価格</th>
          <th scope="col">PER</th>
          <th scope="col">割安状況</th>
          <th scope="col">詳細を確認する</th>
        </tr>
      </thead>
      <tbody>
        <% @specials.each do |special| %>
          <tr>
            <th scope="row"><%= special.product %></th>
            <td><%= special.company %></td>
            <td><%= image_tag special.image.url ,class: "special_image" if special.image? %></td>
            <td><%= special.price %></td>
            <td><%= special.per %></td>
            <td><%= special.status %></td>
            <td><%= link_to '詳細を確認する', special_path(special.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if current_user.try(:admin?) %>
<%= link_to '新しく優待を投稿する', new_special_path %>
<% end %>
