<h1>優待記事詳細画面</h1>

<div class="row">
  <div id="sidebar" class="col-sm-4 col-xs-4" style="background: #eeeeee;">
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
    <div>サイドバー</div>
  </div>

  <!-- コンテンツ -->
  <div id="contents" class="col-sm-8 col-xs-8" style="background: #eeeeee;">
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(special_id: @special.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
    <table class="table table-hover">
      <tr><th>商品名</th><td><%= @special.product %></td></tr>
      <tr><th>会社名</th><td><%= @special.company %></td></tr>
      <tr><th>写真</th><td><%= image_tag(@special.image.url) if @special.image && @special.image.url %></td></tr>
      <tr><th>解説</th><td><%= @special.detail %></td></tr>
      <tr><th>100株の取得価格</th><td><%= @special.price %></td></tr>
      <tr><th>PER</th><td><%= @special.per %></td></tr>
      <tr><th>割安状況</th><td><%= @special.status %></td></tr>
    </table>
    <%= line_chart @suiis.group(:date_friday).sum(:weekly_closing_price) %>
    <div id="comments_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments, special: @special } %>
    </div>
    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/form', locals: { comment: @comment, special: @special } %>
    <%= link_to "優待記事一覧画面にもどる", specials_path %>
    <div>
      <% if current_user.try(:admin?) %>
      <td><%= link_to "編集する", "/specials/#{@special.id}/edit" %></td>
      <td><%= link_to '削除する', special_path, method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      <% end %>
    </div>
    <div>
      <% @suiis.each do |suii| %>
          <%= suii.date_friday %>
          <%= suii.weekly_closing_price %>
      <% end %>
    </div>
  </div>
</div>
